body{
    background-color: #834dee;
}

.wrapper{
    height: 420px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.15);
}

#lovercraft{
    float: left;
    height: 400px;
    width: 300px;
}

.produtoinfo{
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #fff;
}

.produtotexto{
    height: 300px;
    width: 327px;
}

.produtotexto h1{
    margin: 0 0 0 38px;
    padding-top: 40px;
    font-size: 30px;
    color: #474747;
}

.produtotexto h1,
.botaopreço p{
    font-family: 'bentham',serif;
}

.produtotexto h2{
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.produtotexto p{
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.botaopreço{
    height: 103x;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.botaopreço p{
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747
}

